# The lapidarist problem

*This problem is for you to:*

*Show your abilities in data loading, cleaning and descriptive analysis. Some rows contain errors. Extra points: clean these rows and include them in your analysis.*
*Show your modeling abilities. Bonus points for testing your model’s error using a test set.*


The limousine comes to a full stop. As the driver gets out to open the door you take a deep breath and get inside. Inside the meeting room you find the Prime Minister, accompanied by a fat, tall man and a short, deform one with long ears and an even longer nose.

Prime Minister: “Ah! You’re here! Great! Let me introduce my guests. This is Fidelious, Minister of Magic, and Krenk, the owner of the Gringotts Wizarding Bank.”

You: “Uhhh, ma’am, is this a joke?”

Fidelious: “Not at all, but don’t worry, don’t sweat the details, tomorrow you won’t remember anything. Security measures, you see.”

Krenk: “Let’s move things along. I don’t like to be exposed to Muggles.”

You: “What...” The Prime Minister interrupts you.

Prime Minister: “Our friends here seem to have run into a bit of an issue, see, some diamonds seem to have been stolen from the bank. Problem is, the only person... goblin, sorry, ...who saw the diamonds prior to the robbery is our distinguished guest, Krenk.”

Fidelious: “And while the Ministry completely believes Krenk as to the diamonds’ worth, we need another person to validate his claim. Safety policies, you see.”

Prime Minister: “So, since you’re the best data scientist in our country, I thought you could help. Mr. Krenk will provide you with the characteristics of the missing diamonds so you can give us an estimate of how much the stolen diamonds are worth.”

You: “But I’m not a lapidarist.”

Prime Minister: “Which is why we’re providing you with a huge dataset, containing characteristics and prices for tens of thousands of diamonds. Now, get working.“

“Huge? Tens of thousands?“ You think. “And I thought I was the clueless one here.”

Entendimiendo del problema:
El banco de magos de Gringotts ha sido robado, se llevaron diamantes y la persona quien los vio antes del robo fue el invitado Krenk lo cual es el propietario del banco. Se proporciona información que puede ser de interés, como lo es las caractarísticas miles de diamantes existentes en el banco. 
La misión otorgada por el primer ministro consta de estimar el valor de los diamantes robados.
Datos Existentes: 
Una base de datos que contiene miles de diamantes con diferentes características.
Una tabla de los diamantes que han sido robados.

Objetivo principal: 
    - Estimación del valor de los diamantes robados.

Proceso a llevar a cabo:

1.- Carga de los datos.

    - Se pretende hacer uso de la paquetería Pandas para la manipulación de las bases de datos.
2.- Preparación de los datos (limpieza, transformación, etc) .

3.- Exploración de los datos.

    -A través de la paquetería matplot de pyplot se pretende realizar la visualización de los datos para un mejor análisis.
    
4.- Ingeniería de los datos.

    -Se pretende generar variables a partir de las proporcionadas por la base de datos y seleccionar las más importantes para mejorar el rendimiento del modelo a entrenar.
    
5.- Construcción del modelo.

    -Separación de las bases de datos en un conjunto para entrenamiento (80%) y prueba(20%).
    -Entrenamiento del modelo.
    -Evaluación del modelo.
    
6.- Despliegue del modelo.

    -Evaluar el modelo con los datos de los diamantes robados.
    -Medir rendimiento del modelo.
    
7.- Presentación de los resultados.

In [2]:
#Import packages to use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Read datasets
dcoords = pd.read_csv("dataset/coords_diamonds.csv")
diamonds = pd.read_csv("dataset/diamonds.csv")

In [5]:
#Show datasets and its info .
dcoords.head()

   Unnamed: 0    latitude  longitude
0           0  39.8813889  -83.093056
1           1  33.4150000 -111.548889
2           2  40.1672222 -105.101389
3           3  37.3711111  -85.583056
4           4  48.5394444 -121.745000

In [7]:
diamonds.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [11]:
dcoords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53930 entries, 0 to 53929
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53930 non-null  int64
 1   latitude    53930 non-null  object
 2   longitude   53930 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.2+ MB

In [10]:
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53930 entries, 0 to 53929
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53930 non-null  int64
 1   carat       53930 non-null  float64
 2   cut         53930 non-null  object
 3   color       53930 non-null  object
 4   clarity     53930 non-null  object
 5   depth       50968 non-null  float64
 6   table       53930 non-null  float64
 7   price       53930 non-null  int64
 8   x           52840 non-null  float64
 9   y           53345 non-null  float64
 10  z           53930 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [12]:
#Count null values on diamonds dataset.
diamonds.isnull().sum()

Unnamed: 0       0
carat            0
cut              0
color            0
clarity          0
depth         2962
table            0
price            0
x             1090
y              585
z                0
dtype: int64

In [13]:
#Count null values on diamonds_coords dataset.
dcoords.isnull().sum()

Unnamed: 0    0
latitude      0
longitude     0
dtype: int64

In [ ]:
#*Here are the characteristics from Krenk’s diamonds, They will be dataset
#for test model deployed.